# XXX export TEST_FORCING_MODULE_ERROR=YES

export CMAKE_EXPORT_COMPILE_COMMANDS=YES
export CPM_USE_LOCAL_PACKAGES=YES
export CPM_SOURCE_CACHE="${HOME}/.cache/CPM"

export PATH="/usr/local/opt/llvm/bin:$PATH"
export CXX=/usr/local/opt/llvm/bin/clang++
export CC=/usr/local/opt/llvm/bin/clang

